.container {
  width: 100%;
  height: 300px;
  background: #f8f8f8;
  all:initial;
  font-family: "Noto Sans Thai";
  img{
    width: 20%;
  }
  ol{
    display: block;
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
  }
  ul{
    all:initial;
  }
  h1{
    font-size: 1.8em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1em;
  }
  a{
    color: #4c9ffd;
  }
}
